In [ ]:
#Assignment2
#Assignment_name >> Data Structure

In [10]:
#Q1. Discuss string slicing and provide eamples?
#Answer>>
#It allows to extract a substring (a portion of a string) from a given string.
#Example>>
string1 = "I am learning data analytics"
#if we want all character
string1[0:]

'I am learning data analytics'

In [5]:
#Slice sub string>>
string1[3:18]

'm learning data'

In [12]:
#if we want all character except last
string1[:-9]

'I am learning data '

In [14]:
#if we want only last character
string1[19:]

'analytics'

In [ ]:
#Q2. Explain the key features of lists in Python?
#Answer>>
#Lists in Python are versatile data structures that allow you to store and manipulate collections of items. 
#Key features of list are:
#1.List are mutable. It can change the elements after the list has been created. It can modify, add, or remove elements freely.
#2.List are ordered collection of items
#3.Lists can grow and shrink dynamically. You can add new elements using append() or insert() methods, and remove elements using pop() or remove() methods.
#4.List can able to store heterogeneous data.
#5.Elements in a list can be accessed using indexing and slicing. Negative indices can be used to access elements from the end of the list.
#6.Lists support common operations such as concatenation (+), repetition (*), membership testing (in and not in), and finding the length (len()).

In [16]:
#Q3.Describe how to access, modify, and delete elements in a list with examples?
#Answers>>
#Access elements in a list>>access elements in a list using indexing and slicing. Indexing starts at 0 for the first element, and negative indices count from the end of the list.
#example>>
my_list= ["smita", "swain", "ivaan"]
my_list

['smita', 'swain', 'ivaan']

In [17]:
#access single element
my_list[0]

'smita'

In [19]:
#access multiple element using slicing:
my_list[1:3]

['swain', 'ivaan']

In [20]:
#access element from end of the list:
my_list[-1]

'ivaan'

In [29]:
#modify>>Lists are mutable, so you can modify elements by assigning new values to specific indices or using list methods like insert() or append().
#Example>>
lis= ["apple", "banana", "kiwi"]
lis

['apple', 'banana', 'kiwi']

In [30]:
#addition of element to list>>
lis.append("orange")

In [31]:
lis

['apple', 'banana', 'kiwi', 'orange']

In [32]:
#modifying a element
lis[0] = "brinjal"

In [33]:
lis

['brinjal', 'banana', 'kiwi', 'orange']

In [34]:
#delete>>delete elements from a list using the del statement, remove()  or pop() method.

In [35]:
lists = ["ivaan", "smita", "swain"]

In [36]:
lists

['ivaan', 'smita', 'swain']

In [37]:
#remove>> remove specific element from list
lists.remove("smita")
lists

['ivaan', 'swain']

In [45]:
#pop>> remove last element
name = ["A", "B", "C"]
name

['A', 'B', 'C']

In [46]:
name.pop()

'C'

In [47]:
#delete>> it deletes the elements inside the list
name.clear()

In [48]:
name

[]

In [53]:
#Q4.Compare and contrast tuples and lists with examples?
#Answer>>
#Tuple>>
#Immutable and cannot be changed, 
#Defined using () parentheses.
#Typically used for fixed collections or read-only data.

#List>>
#Mutable and can be changed.
#Defined using [] square brackets.
#Used for dynamic collections where elements can be added, removed, or modified.
#it cand store any type of data

#Example of tuple:
t = ("mobile", "earphone", "charger")
t

('mobile', 'earphone', 'charger')

In [55]:
t[1] = "microphone"

TypeError: 'tuple' object does not support item assignment

In [57]:
#example of list>>
fruit_bag = [ "orange", "apple", "banana", 1.1, 2]
fruit_bag

['orange', 'apple', 'banana', 1.1, 2]

In [58]:
fruit_bag[0]= "kiwi"
fruit_bag

['kiwi', 'apple', 'banana', 1.1, 2]

In [59]:
#Q5>> Describe the key features of sets and provide examples of their use?
#Answer>>
#Sets>> these are unordered collection of unique elements.
#sets are defined with {} bracket.
#Sets are removing duplicates from a list or collection of items.
#Useful when you need to count distinct items in a dataset
#Identify common elements between different datasets
#sets are unordered and unique so there is no cocept on indexing here.
#as sets are unordered so indexing cannt takes place.
#sets has multiple data structure

#example>>
s= {"smita", "barsa", "ivaan", "smita", "ivaan"}
s

{'barsa', 'ivaan', 'smita'}

In [60]:
#addition of element to set>>
s.add("swain")
s

{'barsa', 'ivaan', 'smita', 'swain'}

In [61]:
#remove an element from set>>
s.remove("swain")
s

{'barsa', 'ivaan', 'smita'}

In [62]:
#getting unique elements
a= {"a", "b","b","s","a","c","s","s","d"}
a

{'a', 'b', 'c', 'd', 's'}

In [67]:
#iterate a set
set1 = {1, 2, 3, 4, 5}
for elements in set1:
    print(elements)

1
2
3
4
5

In [2]:
#sets are mutable>> it is not compulsory that it will add value at the end.
a={"a", "b", "c", "d"}
a.add("smita")

In [3]:
a

{'a', 'b', 'c', 'd', 'smita'}

In [4]:
#delete>> any thing /element can be deleted
a.pop()
a

{'a', 'c', 'd', 'smita'}

In [6]:
#update>> we can update integer and string inside the set
a.update(["swain"] , [5, 6])
a

{5, 6, 'a', 'c', 'd', 'smita', 'swain'}

In [7]:
#clear>> it will clear the whole set
a.clear()
a

set()

In [8]:
#Sets Operations
b1 = {"agriculture", "horticulture", "plant science"}
b2 = {"agriculture", "engineering", "meterology"}
b1

{'agriculture', 'horticulture', 'plant science'}

In [9]:
b2

{'agriculture', 'engineering', 'meterology'}

In [10]:
#union
b1|b2

{'agriculture', 'engineering', 'horticulture', 'meterology', 'plant science'}

In [11]:
#intersection
b1&b2

{'agriculture'}

In [12]:
#difference
b1-b2

{'horticulture', 'plant science'}

In [13]:
#symmetric difference
b1^b2

{'engineering', 'horticulture', 'meterology', 'plant science'}

In [15]:
#frozen set>> this is immutable version of set. it cannot add or remove any new element
my_fs = frozenset([1,2,2,3,4,4,4,5,5,6])
my_fs

frozenset({1, 2, 3, 4, 5, 6})

In [16]:
type(my_fs)

frozenset

In [18]:
#Q6>>Discuss the use cases of tuples and sets in Python programming?
#answer>>
#use cases of tuples>>
#immutable
a1 = ("smita", "swain", 1.1, 2, 6, True, False)
a1

('smita', 'swain', 1.1, 2, 6, True, False)

In [20]:
a1[3]= 8 #hence its proofs that tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
#count>> it gives the number of elements present
a2 = ("smita", "smita", 1, 1, 1, 2, 5, 5, 2, 2, "smita")
a2.count("smita")

3

In [27]:
#repeat>>
print(a2*2)

('smita', 'smita', 1, 1, 1, 2, 5, 5, 2, 2, 'smita', 'smita', 'smita', 1, 1, 1, 2, 5, 5, 2, 2, 'smita')

In [28]:
#slicing the element>>
a2[0:5]

('smita', 'smita', 1, 1, 1)

In [29]:
#reverse>> in this case ending element will be the starting element
a2[::-1]

('smita', 2, 2, 5, 5, 2, 1, 1, 1, 'smita', 'smita')

In [30]:
#iteration
for i in a2:
    print (i)

smita
smita
1
1
1
2
5
5
2
2
smita

In [36]:
#maximum value>> gives highest number
c1= (5,6,25,80,100)
max(c1)

100

In [37]:
#minimum value>> gives lowest number
min(c1)

5

In [39]:
#nested tuple>>it add both tuples inside one
d1= (1,2,3,4)
d2= (200,300)
d3= (d1,d2)

In [40]:
d3

((1, 2, 3, 4), (200, 300))

In [41]:
#length>> number of elements present
len(d1)

4

In [42]:
#membership>> to check whether the elements are present or not.
1 in d1

True

In [43]:
#combining >> it combines both the tuple>>
d1+d2

(1, 2, 3, 4, 200, 300)

In [48]:
#use case of sets>>
#convert list to set
list1 = [1, 1, 2, 3, "smita", "ivaan"]
list1

[1, 1, 2, 3, 'smita', 'ivaan']

In [46]:
s=set(list1)
s

{1, 2, 3, 'ivaan', 'smita'}

In [47]:
#convert set to list
list1=list(s)
list1

[1, 2, 3, 'smita', 'ivaan']

In [49]:
#index>> as it take unique element and unordered so indexing cannot takes place
s[0]

TypeError: 'set' object is not subscriptable

In [50]:
#set into set>> it will throw error 
s={1,1,2,5,6}
s

{1, 2, 5, 6}

In [51]:
s={1,1,2,5,6,{6,7,8}}

TypeError: unhashable type: 'set'

In [52]:
#list into set>> it will throw error
#tuplre inside set>> as tuple is immutable so it will not throw error
s={1,1,2,5,6,(6,7,8)}
s

{(6, 7, 8), 1, 2, 5, 6}

In [53]:
#iterate the value
s={1,2,6,7}
for i in s:
    print (i)

1
2
6
7

In [54]:
#mutable>>
s.add(25)

In [55]:
s

{1, 2, 6, 7, 25}

In [56]:
#delete>>
s.pop()

1

In [57]:
s

{2, 6, 7, 25}

In [58]:
#remove>>
s.remove(6)
s

{2, 7, 25}

In [60]:
#update 
s.update(["smita"])
s

{2, 25, 7, 'smita'}

In [61]:
#remove
s.remove(25)
s

{2, 7, 'smita'}

In [62]:
#clear
s.clear()
s

set()

In [63]:
#Q7>> Describe how to add & modify and delete items in a dictionary with examples?
#answer
#addition
#To add a new item to a dictionary, you simply assign a value to a new key or an existing key
d= {"name": "smita", "rollno": "2525", "session": "A"}
d

{'name': 'smita', 'rollno': '2525', 'session': 'A'}

In [65]:
d["school"]= "abc"
d

{'name': 'smita', 'rollno': '2525', 'session': 'A', 'school': 'abc'}

In [66]:
#modify>>To modify the value of an existing item in a dictionary, you can reassign the value to the corresponding key
d["rollno"] = 3232
print(d)

{'name': 'smita', 'rollno': 3232, 'session': 'A', 'school': 'abc'}

In [67]:
#delete>>del is used to delete a key value pair
del d["school"]
d

{'name': 'smita', 'rollno': 3232, 'session': 'A'}

In [68]:
#Q8>> Discuss the importance of dictionary keys being immutable and provide example?
#answer>>
#The immutability of dictionary keys in Python is crucial because it ensures the integrity and reliability of the dictionary structure.
#Hashability for Efficient Lookup
#Preservation of Dictionary Integrity
#Consistency in Dictionary Operations
#only string and numbers can be used as a key of a dictionary
#examples
#list cannot be key>>
d= {[1,2,3]: "ivaan"}
d

TypeError: unhashable type: 'list'

In [69]:
#set cannot be key>>
d= {{1,2,3}: "ivaan"}
d

TypeError: unhashable type: 'set'

In [70]:
#special character cannot be key
d={$: "ivaan"}

SyntaxError: invalid syntax (2241952094.py, line 2)